BASE_DIR=B:\Local_AI_Projeckt\Python_AI_Model
MODELS_DIR=B:\Local_AI_Projeckt\Python_AI_Model\models
LLAMACPP_BIN=B:\Local_AI_Projeckt\Python_AI_Model\llama.cpp\build\bin\llama-cli.exe
RETRIEVER_URL=http://127.0.0.1:8002
ROUTER_URL=http://127.0.0.1:8003
EXECUTOR_URL=http://127.0.0.1:8004
SYNTHESIZER_URL=http://127.0.0.1:8010
EXPERT_ENDPOINTS={"codellama":"http://127.0.0.1:8001","starcoder2":"http://127.0.0.1:8011","llama3":"http://127.0.0.1:8010","mpt3":"http://127.0.0.1:8012"}
USE_DOCKER_EXECUTOR=0
EXEC_TIMEOUT_SEC=10
JUDGE_URL=http://127.0.0.1:8010


